snippet author
	/*
	 * Created by Dipta Das on `system("date +%d-%m-%Y")` * Title: ${1}
	 * Problem Link: 
	 * Editorial: 
	 * Source Code: 
	 * Comments: 
	*/

snippet contest
	/*
	 * Created by Dipta Das on `system("date +%d-%m-%Y")` * Title: 
	 * Problem Link: 
	 * Editorial: 
	 * Source Code: 
	 * Comments: 
	*/
	import java.util.*;
	import java.math.*;

	public class ${1} {
		public static void main(String[] args) {
			Scanner in = new Scanner(System.in);
			

			in.close();
		}
	}
